/* IMAGES */

img.logo {
  width: 125px;
  filter: invert(25%) sepia(57%) saturate(3631%) hue-rotate(341deg)
    brightness(84%) contrast(82%);
  mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

img.social-icon {
  width: 20px;
  filter: invert(24%) sepia(69%) saturate(24%) hue-rotate(5deg) brightness(101%) contrast(90%);
}

img.social-icon:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(147deg) brightness(102%) contrast(101%);
}

img.social-icon:hover img {
  fill: white !important;
}

img.image,
.flex-top-section > picture {
  width: 100%;
  height: 100%;
}

img.left {
  max-width: 500px;
}

.flex-bottom-item.right {
  background-image: url("../images/Seated_Shirt_-_Justin_1024x1024.png");
  left: 0;
  right: 0;
  z-index: 1;
  filter: blur(10px);
  opacity: 0.5;
}

/* END IMAGES */
